@font-face {
    font-family: IranSansEn;
    font-style: normal;
    font-weight: normal;
    src: url('../css/../fonts/iransans/eot/IRANSansWeb(NoEn).eot');
    src: url('../css/../fonts/iransans/eot/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'), url('../css/../fonts/iransans/woff2/IRANSansWeb(NoEn).woff2') format('woff2'), url('../css/../fonts/iransans/woff/IRANSansWeb(NoEn).woff') format('woff'), url('../css/../fonts/iransans/ttf/IRANSansWeb(NoEn).ttf') format('truetype');
}

@font-face {
    font-family: IranSansEn;
    font-style: normal;
    font-weight: bold;
    src: url('../css/../fonts/iransans/eot/IRANSansWeb(NoEn)_Bold.eot');
    src: url('../css/../fonts/iransans/eot/IRANSansWeb(NoEn)_Bold.eot?#iefix') format('embedded-opentype'), url('../css/../fonts/iransans/woff2/IRANSansWeb(NoEn)_Bold.woff2') format('woff2'), url('../css/../fonts/iransans/woff/IRANSansWeb(NoEn)_Bold.woff') format('woff'), url('../css/../fonts/iransans/ttf/IRANSansWeb(NoEn)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IranSansEn;
    font-style: normal;
    font-weight: 300;
    src: url('../css/../fonts/iransans/eot/IRANSansWeb(NoEn)_Light.eot');
    src: url('../css/../fonts/iransans/eot/IRANSansWeb(NoEn)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../css/../fonts/iransans/woff2/IRANSansWeb(NoEn)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../css/../fonts/iransans/woff/IRANSansWeb(NoEn)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../css/../fonts/iransans/ttf/IRANSansWeb(NoEn)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: normal;
    src: url('../css/../fonts/iransans-fanum/eot/IRANSansWeb(FaNum).eot');
    src: url('../css/../fonts/iransans-fanum/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../css/../fonts/iransans-fanum/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), url('../css/../fonts/iransans-fanum/woff/IRANSansWeb(FaNum).woff') format('woff'), url('../css/../fonts/iransans-fanum/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: bold;
    src: url('../css/../fonts/iransans-fanum/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../css/../fonts/iransans-fanum/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), url('../css/../fonts/iransans-fanum/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), url('../css/../fonts/iransans-fanum/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), url('../css/../fonts/iransans-fanum/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: lighter;
    src: url('../css/../fonts/iransans-fanum/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../css/../fonts/iransans-fanum/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), url('../css/../fonts/iransans-fanum/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), url('../css/../fonts/iransans-fanum/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), url('../css/../fonts/iransans-fanum/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
