
.tblFields {
    direction: rtl;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    height: auto !important;
}


    .tblFields tr td {
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

.divButtons {
    margin: 0 auto;
    width: 100%;
}

.form-control {
    width: 180px !important;
    font-family: A Iranian Sans;
}

.formFields {
    float: right;
    direction: rtl;
    width: 90%;
    text-align: right;
}

/*.TextArea {
    font-family: 'A Iranian Sans';
    width: 779px !important;
    height: calc(2.25rem + 2px);
    padding-right: 7px;
    font-size: 15px !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    resize: none;
    overflow: auto;
}*/

.imgPerson {
    float: right;
    text-align: right;
    width: 170px;
    margin-right: 14px;
    margin-top: 24px;
    border: 1px solid #d2cfcf;
    text-align: center;
    height: 170px;
    height: 359px;
    width: 400px;
}

.tblButons {
    float: right;
    text-align: right;
    margin-right: 80px;
    margin-bottom: 20px;
    direction: rtl;
    width: 570px;
    height: 50px !important;
    margin-top: 16px;
}

    .tblButons tr td {
        padding-right: 6px;
    }

.tblData {
    border-collapse: collapse;
    border-spacing: 0;
    width: 2000px !important;
    border: 1px solid #ddd;
}

    .tblData tr th {
        width: 500px;
    }

    .tblData thead th {
        position: sticky;
        top: 0;
    }


    .tblData th, td {
        text-align: left;
        padding: 8px;
    }

.divTableData {
    overflow-x: auto;
    height: 360px;
    margin-top: -12px;
}

.tbldesc {
    width: 700px;
}


.tblButtonAction {
    width: 35px;
}

.tblDataheader {
    background: #430a48 !important;
    color: white !important;
    text-align: center !important;
    direction: rtl !important;
}

.tblData tr td {
    vertical-align: middle !important;
}

.tblData tr:nth-child(odd) {
    background-color: #f7edf1;
    color: #000;
}

.tblData tr:nth-child(even) {
    background-color: #feffd3;
    color: #000;
}

.btn-Search {
    color: white;
    background-color: #212529 !important;
    border-color: #119a8e;
    height: 40px;
    width: 122px;
    margin-top: 10px;
    border-radius: 24px;
}

    .btn-Search:hover {
        background-color: #4b5055 !important;
    }

.footerPage {
    background-color: #2b032f;
    height: 75px;
    bottom: 0;
    width: 100%;
    box-shadow: 1px 1px 2px 1px gray;
    border-radius: 1px 0px 23px 23px;
    padding: 16px 16px 3px 3px;
}

.tblFooterSummery {
    color: white;
    float: right;
    text-align: center;
    font-size: 14px;
}

.titleSummery {
    width: 100px;
}

.divformControl {
    margin-top: -56px;
}

.summaryAddEditForm {
    float: right;
    direction: rtl;
    text-align: center;
    border: 1px solid #cccbcc;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 0px;
    margin-right: 11px;
    padding: 15px;
    height: 124px;
    width: 95%;
}

.summeryRowAddEdit {
    margin-bottom: 21px;
}

.loginDiv {
    position: absolute;
    z-index: 1000;
    background-color: #200922;
    color: #FFFFFF;
    width: 700px;
    margin-right: 209px;
    margin-top: 98px;
    height: 344px;
    border-radius: 26px;
    box-shadow: 0px 12px 10px -4px gray;
}

.rightloginDiv {
    border-bottom: 1px solid white;
    background: #58345b;
    width: 37%;
    padding: -8px;
    margin-right: -5px;
    height: 344px;
    border-radius: 0px 22px 22px 0px;
    padding-top: 31px;
}

.loginTitle {
    margin-right: px;
    margin-top: -3px;
    background: #16a687;
    width: 100%;
    margin-right: 0px;
    text-align: center;
    height: 38px;
    padding: 9px;
}

.leftloginDiv {
    float: left;
    position: relative;
    margin-top: -343px;
    border-radius: 22px 0px 0px 22px;
}

.loginTitle1 {
    width: 446px;
    background: #1c4242;
    margin-top: 27px;
    height: 38px;
    text-align: center;
    padding: 8px;
}

.loginTextBox {
    margin-right: 76px;
    margin-top: 20px;
}

.btnLogin {
    width: 211px;
    margin-right: 72px;
    height: 51px;
    border-radius: 36px;
    border: 1px solid #337184;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height: 700px !important;
}

.clockpicker-autoclose {
    width: 109px !important;
}

.ui-datepicker-calendar {
    height: 265px !important;
}

/*.TelFields {
    margin-top: 10px;
}*/

/*.chkBoxFields {
    margin-left: 10px !important;
}

.lblChkBox {
    color: darkblue !important;
}
*/
.table-wrapper {
    width: 100%;
    white-space: nowrap;
}

.table-firstcolon {
    display: inline-block;
    vertical-align: top;
    width: auto !important;
}

    .table-firstcolon td,
    .table-firstcolon th {
        width: 60px;
    }

.table-content-wrapper {
    width: 900px !important;
    display: inline-block;
    /*overflow-x: scroll;*/
    vertical-align: top;
    max-width: calc(100% - 60px);
}

    .table-content-wrapper > table {
        display: inline-block;
        vertical-align: top;
    }


Page Setup

*,
*::after,
*::before {
    box-sizing: inherit;
}


.peopleSelector {
    border: 4px solid #ccc9c9;
    height: 131px;
    border-radius: 31px;
    margin-top: -16px !important;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    margin-right: -1px;
    margin-bottom: 8px;
}

.btnPeopleSelector {
    position: relative !important;
    margin-top: -59px !important;
    width: 176px !important;
    background: #ffc400 !important;
    border-radius: 33px !important;
    color: black !important;
    background: #e8ae70 !important ;
}

    .btnPeopleSelector:hover {
        background: #d0a206 !important;
        font-size: 1.1em;
    }

.tdPeopleSelector {
    width: 270px;
    text-align: right;
    color: darkblue;
}

.tblPeopleSelector {
    margin-top: -29px;
    margin-right: 68px;
}

.divServices {
    width: 500px;
    overflow-y: scroll;
    height: 420px;
    background-color: transparent;
    border: none;
    float: right;
    margin-right: -121px;
    margin-top: 64px;
}

.divGetServices {
    width: 500px;
    height: 455px;
    background-color: transparent;
    border: none;
    float: right;
    /*margin-right: -121px;*/
    margin-top: -6px;
    overflow-y: scroll;
}

.divServiceDetails {
    /*width: 450px;*/
    border: 1px solid #d2d2d2;
    height: 62px;
    border-radius: 25px;
    padding: 14px;
    margin-top: 5px;
}

.btn btn-danger {
    border-radius: 50px !important;
}

.comboBox {
    width: 160px !important;
    border: .5px solid #bbbbca;
    height: 38px;
    text-align: center
}

.cmbCustomerServiceType {
    width: 168px !important;
    margin-left: 18px;
    border: .5px solid #bbbbca;
    height: 38px;
    text-align: center;
}

.divSetCustomerServices {
    border: 1px solid #d2d2d2;
    height: 62px;
    border-radius: 25px;
    padding: 14px;
    margin-top: 5px;
    width: 547px;
}

.popover.bottom {
    margin-top: 168px !important;
}

.tblFomrData {
    height: 400px !important;
}


.spFullName {
    float: right;
    margin-right: 5px;
}

img-person img-circle {
    float: right;
    margin: 5px 10px 0px 0px;
}

table tr td {
    width: 100px;
}

#mainMenu, #subMenu, #menuBottions {
    display: none;
    margin-left: 35px;
    overflow: auto;
}

.subItems {
    width: 98%;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    margin-top: 8px;
    cursor: pointer;
}

    .subItems:hover {
        background-color: #fbf8e7;
        font-size: 1.3em;
    }

.specrialSpan {
    display: none;
}

.headerMenus {
    height: 50px !important;
    text-align: center;
    margin-left: 35px;
    padding: 10px;
    border-radius: 41px 40px 1px 2px
}

.divImg {
    width: 457px;
    background-color: transparent;
    float: left;
    height: 521px;
    border: none;
    margin-top: 71px;
}

.divDocuments {
    width: 620px;
    position: relative;
    float: left;
    margin-left: 20px;
    height: 570px;
    margin-top: 29px;
    background-color: transparent;
    border: none;
}

#divImgPeople {
    width: 400px;
    height: 400px;
}

.imgPersonProfile {
    padding-bottom: 5px;
    height: 350px;
    width: 350px;
}

.pSalonService {
    font-size: 17px;
    color: #e6e6ea;
    width: 506px;
    opacity: 0.75;
    background: #212529;
    border-radius: 41px;
    margin-bottom: 11px;
    text-align: center;
}

.pCustomerService {
    font-size: 17px;
    color: #e6e6ea;
    float: left;
    margin-top: -42px;
    opacity: 0.75;
    width: 588px;
    margin-bottom: 11px;
    text-align: center;
    background: #212529;
    border-radius: 41px;
}

.shortWidget {
    float: right;
    width: 25%;
}



/*
.searchTextBox {
    width: 46%;
    margin-top:-19px;
    float: right;
}*/

.searchButtom {
    margin-right: 2%;
}
/*
.tabFields {
    float: right;
    width: 26%;
    margin-bottom: 15px;
    text-align: left;
}*/

.btn-radious {
    border-radius: 12px;
}

.fileBrowser {
    border-radius: 0px !important;
    margin-right: -10px;
    height: 43px;
    background: #01656a;
    width: 122px;
    padding: 9px;
    color: white;
    float: right;
}

.divLongFormGroup {
    border: 1px solid #d5d1d1;
    padding: 17px;
    border-radius: 12px;
}

.containerCollapse {
    width: 100%;
    /*border: 1px solid #d3d3d3;*/
    margin-bottom: 5px;
    padding: 8px;
}

    .containerCollapse div {
        width: 100%;
    }

    .containerCollapse .header {
        background-color: #b08080;
        padding: 12px;
        cursor: pointer;
        font-weight: bold;
        text-align: right;
        margin-top: 10px;
    }

    .containerCollapse .content {
        display: none;
        padding: 19px;
        border: 1px solid #dbd7d7;
        margin-top: 5px;
        border-radius: 8px;
        padding-right: 36px
    }

.collapsItems {
    height: auto;
    width: 18% !important;
    border: 1px solid #d0c9c9;
    border-radius: 9px;
    padding: 9px;
    text-align: center;
    /*float: right;*/
    margin-left: 1%;
    margin-bottom: 1%;
}

    .collapsItems:hover {
        border: 1px solid #6c5c5c;
        background: #edfff9;
        box-shadow: 2px 3px 4px -1px;
        cursor: pointer;
    }

.alertDiv {
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    height: auto;
    text-align: center;
    padding: 18px;
    position: absolute;
    left: 31%;
    top: 13%;
    display: none;
    z-index:20000;
}

.alertItems {
    border: 1px solid #dbd9d9;
    border-radius: 10px;
    padding: 11px;
    margin-bottom: 5px;
}

.btnCollapse {
    width: 100%;
    text-align: right;
    margin-bottom: 2%;
    border-radius: 9px;
    background: #9faeae;
    color: black;
}